.infoItemTotal{
    display: flex ;
    justify-content: center;

}

.ButtonsCart {
    display: flex;
    justify-content: center;
}

.buttonClearCart {
    background-color: #ff0000; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer; 
    border-radius: 4px; 
  }
  
  .buttonClearCart:hover {
    background-color: #cc0000;
  }
  

.buttonCheckout {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .buttonCheckout:hover {
    background-color: #45a049;
  }


  .noProducts{
    display: flex;
    justify-content: center;
  }

  .buttonInit {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .buttonInit:hover {
    background-color: #999;
  }
  
  