.contenedor{
    background-color: rgb(147, 206, 186);
}
.contenedor nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.titulo{
    font-family: 'Wix Madefor Display', sans-serif;
}



.botonesBox{
    display: flex;
    align-items: center;
}

#botones {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#botones:hover{
    background-color: #f5f5f596;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img {
    width: 12rem;
    cursor: pointer;
}